__pycache__
.ipynb*
.venv
.vscode
python.mk
.checkpoint/
.ipynb_checkpoints/
homebrew.pth
.coveragerc
node_modules/
bower_components/
*.py[cod]
*.so
.Python
env/
bin/
build/
build/*
develop-eggs/
dist/
eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
logs
logs/*
logs/ansible/*
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.pot
.DS_Store
docs/_build/
.env
.*.sw[po]
.vs/
.noseids
tmp/
.sass-cache/
layouts/.sass-cache/
venv/
.python-version
.idea/
*.rdb
nohup.out
.vagrant
*.retry
.vault_pass.txt
facts/*
facts
dist/
dist/*
*.gz
*.gz.*
